header,
main {
	margin: 0 auto;
	text-align: center;
}

#Progress_Status {
	margin: 0 auto;
	width: 600px;
	background-color: rgb(224, 213, 213);
}

#myprogressBar {
	margin: 0 auto;
	margin-top:
		width: 100%;
	height: 10px;
	background-color: rgb(247, 237, 154);
	text-align: center;
	line-height: 10px;
	color: black;
}

#gameboard {
	margin: 0 auto;
	width: 600px;
	height: 600px;
	border: 1px rgb(185, 185, 185) solid;
	display: inline-block;
	background-color: white;
}

#scoreboard {
	margin: 0 auto;
	max-width: 400px;
	max-height: 115px;
	/* background-color: blueviolet; */
	background-image: url("https://banner2.kisspng.com/20180305/lcw/kisspng-fence-cartoon-fences-5a9d0e9fdd5104.3142874915202423359065.jpg");
	padding: 10px;
	/* border: 1px dotted rgb(189, 189, 189); */
}

canvas {
	border: 1px solid #d3d3d3;
	background-color: #f1f1f1;
}

h1 {
    font-family: "Dokdo";
    font-size: 40px;
}